{% extends 'base.twig' %}

{% block body %}
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4 text-center">Erreur 404</h1>
        <div class="flex flex-col md:flex-row justify-between items-start">
            <div class="text-gray-800 text-lg flex-1">
                <p>La page que vous essayez d'accéder n'existe pas ou a été déplacée. Veuillez contacter un administrateur si le problème persiste.</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}