<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatherly</title>
    <link href="/public/output.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/images/logo.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>

</head>
<script>
  function toggleDropdownAccount() {
    var dropdown = document.getElementById("dropdown_account");
    if (dropdown.style.display === "none") {
      dropdown.style.display = "block";
    } else {
      dropdown.style.display = "none";
    }
  }
    function toggleDropdownEvent() {
    var dropdown = document.getElementById("dropdown_event");
    if (dropdown.style.display === "none") {
      dropdown.style.display = "block";
    } else {
      dropdown.style.display = "none";
    }
  }
  window.onload = function() {
  var addressIdInput = document.getElementById('address_id');
    var input = document.getElementById("address-input");
    console.log("Input element: ", input); // Log the input element
  
    var awesomplete = new Awesomplete(input, {
      list: [],
      data: function (item) {
        var data = {
          label: item ? item.label : '',
          value: item ? item.value : '',
        };
        console.log("Data: ", data); // Log the data
        return data;
      },
      filter: Awesomplete.FILTER_CONTAINS
    });
    input.addEventListener("keyup", function() {
      console.log("Keyup event triggered"); // Log when keyup event is triggered
      if (input.value.length >= 3) {
        console.log("Input value length is greater than or equal to 3"); // Log when input value length is greater than or equal to 3
        fetch('https://api-adresse.data.gouv.fr/search/?q=' + encodeURIComponent(input.value))
          .then(response => response.json())
          .then(data => {
            console.log("Fetched data: ", data); // Log the fetched data
          if (Array.isArray(data.features)) {
              var newList = data.features.map(function(feature) {
                  var featureData = {
                      label: feature && feature.properties ? feature.properties.label : '',
                      value: feature && feature.properties ? feature.properties.label : '',
                      id: feature && feature.properties ? feature.properties.id : ''
                  };
                  console.log("Feature data: ", featureData); // Log the feature data
                  return featureData;
              });
              awesomplete.list = newList;
              awesomplete.evaluate();
          } else {
              console.log("data.features is not an array");
          }
            console.log("Awesomplete list: ", awesomplete.list); // Log the Awesomplete list
          });
      }
    });
    input.addEventListener('awesomplete-selectcomplete', function(e) {
        fetch('https://api-adresse.data.gouv.fr/search/?q=' + encodeURIComponent(e.text.value))
          .then(response => response.json())
          .then(data => {
            console.log("Fetched data: ", data); // Log the fetched data
            if (Array.isArray(data.features)) {
              var feature = data.features[0];
              console.log("Feature: ", feature); // Log the feature
              if (feature && feature.properties) {
                addressIdInput.value = feature.properties.id;
              }
            } else {
              console.log("data.features is not an array");
            }
          });
    });
  };
</script>
<body class="flex-col min-h-screen">
<!-- component -->
  <nav class="bg-gray-800 shadow shadow-gray-300 w-100 px-8 md:px-auto">
    <div class="md:h-16 h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
      <!-- Logo -->
      <div class="text-yellow-500 md:order-1">
        <img src="/public/images/logo.png" class="h-10 w-10 md:h-16 md:w-16" alt="Logo Gatherly">
      </div>
      <div class="text-gray-300 order-3 w-full md:w-auto md:order-2">
        <ul class="flex font-semibold justify-between">
          <li class="md:px-4 md:py-2 hover:text-gray-200"><a href="/">Accueil</a></li>
          <li class="md:px-4 md:py-2 hover:text-gray-200">
              <button onclick="toggleDropdownEvent()" class="dropdown-button focus:outline-none">
                Évènements &#9662;
              </button>
              <div id="dropdown_event" class="absolute mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10" style="display: none;">
                  <a href="/event/create" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Créer un évènement</a>
                  <a href="/event" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Voir tous les évènements</a>
                  {% if session.est_Admin %}
                      <a href="/event/manage" class="block px-4 py-2 text-sm text-red-700 hover:bg-indigo-600 hover:text-white">Gérer les évènements</a>
                  {% endif %}
              </div>
          </li>
          <li class="md:px-4 md:py-2 hover:text-gray-200"><a href="/nous">Qui sommes-nous ?</a></li> <!-- Lien mis à jour vers la page /nous -->
        </ul>
      </div>
      {% if session.id_utilisateur is defined %} <!-- Ajout de la condition pour afficher le bouton de déconnexion -->    
      
          <div class="order-2 md:order-3">          
              <div class="relative text-gray-600 md:order-1">                  
                  <button onclick="toggleDropdownAccount()" class="dropdown-button focus:outline-none">
                  {% if session.est_Admin %} <!-- Ajout de la condition pour afficher le bouton de gestion des évènements -->
                      <img src="/public/images/account_admin.svg" class="h-6 w-6 md:h-10 md:w-10" alt="Paramètres">
                  {% else %}
                      <img src="/public/images/account.svg" class="h-6 w-6 md:h-10 md:w-10" alt="Paramètres">
                  {% endif %}
                  </button>
                  <div id="dropdown_account" class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10" style="display: none;">
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Compte</a>
                      <a href="/equipe/create" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Créer une équipe</a>
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Aide</a>
                      <a href="/logout" class="block px-4 py-2 text-sm text-red-700 hover:bg-red-600 hover:text-white">Déconnexion</a>
                  </div>
              </div>
          </div>
          
        {% else %} <!-- Ajout de la condition pour afficher les boutons de connexion et d'inscription -->
            <div class="order-2 md:order-3 flex space-x-4">
                <a href="/login" class="btn btn-primary bg-yellow-500 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded">Connexion</a>
                <a href="/register" class="btn btn-secondary bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Inscription</a>
            </div>
        {% endif %}
    </div>
  </nav>
    {% block body %}{% endblock %}
</body>
</html>
