{% extends 'base.twig' %}

{% block body %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Qui sommes-nous ? - Gatherly</title>
    <link href="/public/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4 text-center">À propos de Gatherly</h1>
        <div class="mt-6 text-gray-800 text-lg">
            <h2 class="text-2xl font-semibold mb-3">Notre Vision</h2>
            <p>Gatherly est née de l'ambition de transformer l'accessibilité et la gestion des événements sportifs, avec un accent particulier sur le rugby, le sport de cœur du Sud-Ouest français. Notre plateforme aspire à simplifier la création, la gestion et la participation à des événements rugbystiques pour des organisateurs, des équipes, et des spectateurs.</p>

            <h2 class="text-2xl font-semibold mt-5 mb-3">Ce que nous offrons</h2>
            <p>Nous proposons une solution tout-en-un qui permet :</p>
            <ul class="list-disc pl-5 mb-4">
                <li>La création dynamique de tournois et de matchs, avec divers formats compétitifs.</li>
                <li>Une gestion simplifiée des équipes, des joueurs et des scores en temps réel.</li>
                <li>Des fonctionnalités d'interaction multi-utilisateurs, permettant aux spectateurs d'acheter des billets, suivre les résultats, et plus encore.</li>
            </ul>

            <h2 class="text-2xl font-semibold mt-5 mb-3">Notre Engagement envers l'Innovation</h2>
            <p>À Gatherly, nous nous engageons à innover constamment. Nous intégrons des fonctionnalités avancées telles que l'analyse statistique des événements passés pour aider à la prise de décisions stratégiques et à l'amélioration continue des événements futurs.</p>

            <h2 class="text-2xl font-semibold mt-5 mb-3">Pourquoi choisir Gatherly ?</h2>
            <p>Choisir Gatherly, c'est opter pour une plateforme qui valorise la facilité d'utilisation, l'efficacité, et l'adaptabilité. Notre objectif est de fournir une expérience utilisateur exceptionnelle, soutenue par une technologie de pointe et un design réfléchi.</p>
        </div>
    </div>
</body>
</html>


{% endblock %}